[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymysql = "*"
flask = "*"
flask-bcrypt = "*"
flask-cors = "*"

flask-session = "*"
cryptography = "*"


[dev-packages]

[requires]
python_version = "*"
