{% extends "base_template.html" %}

{% block nav_option %}<li><a class="nav-link" href="/products">Home</a></li>{% endblock %}


{% block content %}
<div class="container">

    <h1 class="mb-5">{{product.name}}</h1>
    <div class="row mb-3">
        <div class="col">
            <img src="{{ url_for('static', filename=product.img_url) }}" class="product_view_img" alt="{{ product.img_url }}">
        </div>
        <div class="col">
            <p>Category: {{ product.category }}</p>
            <p>Seller: {{product.creator.first_name}} {{product.creator.last_name}}</p>
            <p>Description: {{ product.description }}</p>
            <p>Price: {{ "$%.2f"|format(product.price) }}
                {% if product.quantity <= 10 %}
                <span class="text-danger">
                 Buy now! Only {{product.quantity}} in stock.
                </span>
                {% endif %}
            </p>
            {% if product.quantity > 0 %}
                <form action="/carts/add_product" method="post">
                    <input type="hidden" name="product_id" value="{{product.id}}">
                    <label for="quantity">Quantity:</label>
                    <input type="number" id="quantity" name="quantity_to_purchase" value="1" min="1" max="{{ product.quantity }}">
                    <button type="submit">Add to Cart</button>
                    <a href="#product-reviews" >See Reviews</a>
                </form>
            {% else %}
                <p>Out of Stock</p>
            {% endif %}
        </div>
    </div>

    {% if all_products_in_related_category_1 %}
    <div class="scroll-wrapper">
      <h3>Related in {{related_categories[0]}}</h3>
      <div class="scroll-controls">
        <button class="scroll-button prev-button" onclick="scrollContainer('related_category_1', 'left')">&lt;</button>
        <div class="scroll-container" id="scroll-container-related_category_1">
          {% for product in all_products_in_related_category_1 %}
            <div class="item pop-out-effect">
              <div class="d-flex justify-content-between">
                <img src="{{url_for('static', filename=product.img_url)}}" class="card-img-top" alt="{{ product.img_url }}">
                <div class="card-item-price">
                  <p class="text-end">{{ "$%.2f"|format(product.price) }}</p>
                </div>
              </div>
              <div class="card-body">
                <a href="/products/view/{{ product.id }}">
                  <h5 class="card-title">{{ product.name }}</h5>
                </a>
                <p class="card-text">{{ product.description }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
        <button class="scroll-button next-button" onclick="scrollContainer('related_category_1', 'right')">&gt;</button>
      </div>
    </div>
    {% endif %}

    {% if all_products_in_related_category_2 %}
    <div class="scroll-wrapper">
      <h3>Related in {{related_categories[1]}}</h3>
      <div class="scroll-controls">
        <button class="scroll-button prev-button" onclick="scrollContainer('related_category_2', 'left')">&lt;</button>
        <div class="scroll-container" id="scroll-container-related_category_2">
          {% for product in all_products_in_related_category_2 %}
            <div class="item pop-out-effect">
              <div class="d-flex justify-content-between">
                <img src="{{url_for('static', filename=product.img_url)}}" class="card-img-top" alt="{{ product.img_url }}">
                <div class="card-item-price">
                  <p class="text-end">{{ "$%.2f"|format(product.price) }}</p>
                </div>
              </div>
              <div class="card-body">
                <a href="/products/view/{{ product.id }}">
                  <h5 class="card-title">{{ product.name }}</h5>
                </a>
                <p class="card-text">{{ product.description }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
        <button class="scroll-button next-button" onclick="scrollContainer('related_category_2', 'right')">&gt;</button>
      </div>
    </div>
    {% endif %}

    {% if all_products_in_related_category_3 %}
    <div class="scroll-wrapper">
      <h3>Related in {{related_categories[2]}}</h3>
      <div class="scroll-controls">
        <button class="scroll-button prev-button" onclick="scrollContainer('related_category_3', 'left')">&lt;</button>
        <div class="scroll-container" id="scroll-container-related_category_3">
          {% for product in all_products_in_related_category_2 %}
            <div class="item pop-out-effect">
              <div class="d-flex justify-content-between">
                <img src="{{url_for('static', filename=product.img_url)}}" class="card-img-top" alt="{{ product.img_url }}">
                <div class="card-item-price">
                  <p class="text-end">{{ "$%.2f"|format(product.price) }}</p>
                </div>
              </div>
              <div class="card-body">
                <a href="/products/view/{{ product.id }}">
                  <h5 class="card-title">{{ product.name }}</h5>
                </a>
                <p class="card-text">{{ product.description }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
        <button class="scroll-button next-button" onclick="scrollContainer('related_category_3', 'right')">&gt;</button>
      </div>
    </div>
    {% endif %}

    <hr>
    <div class="row mt-5">
        <div class="col-6">
            <div class="d-flex justify-content-between mb-3">
                <h4 id="product-reviews">Product Reviews</h4>
                <h4>Rating</h4>
            </div>
            {% for review in product.reviews %}
                <div class="row">
                    <div class="col-sm-10">
                        <p class="mb-1">{{ review.created_at | datetimeformat }} : {{review.creator.first_name}} {{review.creator.last_name}}</p>
                        <div class="review-content">
                            <p>{{review.content}}</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <p class="text-end">{{review.rating}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-5 offset-1 review-card">
            <form action="/reviews/{{ product.id }}/create" method="POST">
                <label for="content">Leave a review:</label>
                <textarea name="content" id="content" rows="5" class="form-control"></textarea>
                <div class="d-flex justify-content-between align-items-center mt-2 mb-2">
                    <select id="rating" name="rating" class="form-select form-select-sm">
                        <option selected>Select a rating</option>
                        <option value="*">*</option>
                        <option value="**">**</option>
                        <option value="***">***</option>
                        <option value="****">****</option>
                        <option value="*****">*****</option>
                    </select>
                    <button type="submit" class="btn-md btn-primary">Submit Review</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}